body {
    background-color: #080710;
}

.container {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form {
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(172, 162, 246, 0.6);
    padding: 30px 35px;
}

form *{
    font-family: 'Poppins', sans-serif;
    color: #2a4f5a;
    letter-spacing: 0,5px;
    outline: none;
    border: none;
}

form h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 200;
}

label {
    color: #26404d;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
}

input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(68, 147, 170, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-weight: 300;
}

::placeholder {
    color: #271919;
    font-size: 14px;
}
